== errors.errors_explanation

' Name
input type="text" name="user[name]" value=params["name"]
br
' Email
input type="email" name="user[email]" value=params["email"]
br
' Password
input type="password" name="user[password]" value=params["password"]
br
' Password confirmation
input type="password" name="user[password_confirmation]" value=params["password_confirmation"]
